html {
    background-color: rgb(234,92,41);
}
header {
    margin:20px 0;
    
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    overflow:hidden;
    
}

#logo {
    height:200px;
}

fieldset {
    border-style: none;
}

legend {
    font-size: 30px
}

label {
    font-size: 20px;
}

footer {
    position: relative;
    bottom: -200px;
}

footer a {
    text-decoration: none;
    color:blue
}

footer a {
    text-decoration: none;
    color:blue;
}

a:hover {
    text-decoration: underline;
}

.dollar {
    height:50px;
    width: auto;
}

#results {
    font-size: 40px;
    height: 400px;
    width: 1000px;
    overflow: scroll;
    display: flex;
}

img:hover + span{ 
    visibility: visible;
}

.anime {
    height:300px;
    width: auto;
    border: solid black 2px;
}

.animeTitle {
    position: relative;
    margin: auto;
    top:50%;
    bottom:50%;
    left:50%;
    right: 50%;
    width: 100px;
    height: 100px;
    font-size: 10px;
    color:white;
    display: none;
}

#container:target .animeTitle {
    background-color: aqua;
}

#container:hover {
    -webkit-transform: scale(1.1); 
      -ms-transform: scale(1.1); 
          transform: scale(1.1);
}

.anime:hover {
    max-width: 200px;
}

#container {
    float: left;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#trailers {
    font-size: 40px;
    height: 320px;
    width: 1000px;
    overflow: scroll;
    display: flex;
}

#animeInfo {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,.9);
    margin-left: auto;
    margin-right:auto;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

h3{
    font-size: 20px;
}

#animeInfo {
    color:white;
    
}

#title {
    font-size: 50px;
    margin: 50px 0 0 0;
}

#rating {
    font-size:  20px;
}

#trailers {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}


.trailer {
    float: left;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width: auto;
}

.trailer img{
    height: 200px;
    width: auto;
    border:solid rgb(234,92,41) 2px;
        
}

ul {
    position: absolute;
    list-style: none;
    left: 85px;
    margin: 0 0;
}

ul li {
    display: inline-block;
}

#userInput{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#userInput {
    height: 30px;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
}


#search, .top, .upcoming{
    border-radius: 80px;
    height: 30px
        
}
.top:hover {
    border: black 2px solid;
}

.upcoming:hover {
    border: black 2px solid;
}


#search:hover {
    border: black 2px solid;
}

#search {
    margin-top: 5px;
}


#userInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(234,92,41);
    opacity: 1; /* Firefox */
}

#userInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(234,92,41);
}
