header {
    margin: 100px 0;
}

body {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

fieldset {
    border-style: none;
}

legend {
    font-size: 30px
}

label {
    font-size: 20px;
}

footer {
    position: relative;
    bottom: -200px;
}

footer a {
    text-decoration: none;
    color:blue
}

footer a {
    text-decoration: none;
    color:blue;
}

a:hover {
    text-decoration: underline;
}

.dollar {
    height:50px;
    width: auto;
}

#results {
    font-size: 40px;
    height: 320px;
    width: 1000px;
    overflow: scroll;
    display: flex;
}

img:hover + span{ 
    visibility: visible;
}

.anime {
    height:300px;
    width: auto;
    border: solid black 3px;
}

.animeTitle {
    position: relative;
    margin: auto;
    top:50%;
    bottom:50%;
    left:50%;
    right: 50%;
    width: 100px;
    height: 100px;
    font-size: 10px;
    color:white;
    display: none;
}

#container:target .animeTitle {
    background-color: aqua;
}

#container:hover {
    width: auto;
}

#container {
    float: left;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}

#trailers {
    font-size: 40px;
    height: 320px;
    width: 1000px;
    overflow: scroll;
    display: flex;
    border: solid black 3px;
}

#animeInfo {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,.9);
    margin-left: auto;
    margin-right:auto;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.trailer {
    float: left;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width: auto;
}

h3{
    font-size: 20px;
}

#animeInfo {
    color:white;
}

.trailer img{
    height: 200px;
    width: auto;
}

ul {
    list-style: none;
}

ul li {
    float: left;
}
